.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 70vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.textTitle{
    font-size: 2.5vw;
    font-family: 'Century Gothic';
    margin: 10px;
    margin-top: -45px;
    color: white;
    align-self: flex-start;
    display: flex;
}

.line{
    margin-right: 10px;
    margin-left: 10px;
    border: none; 
    border-top: 1.5px solid white;
}
.accounts{
    width: 80vw;
    height: 70%;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 5%/15%;
    overflow: auto;
    scroll-margin: 10px;
}
.accounts::-webkit-scrollbar {
    width: 15px;
}

.accounts::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.accounts::-webkit-scrollbar-thumb {
    background: rgb(var(--color-verde-boton)); 
    border-radius: 10px;
    padding: 2px;
    border: 3px solid transparent;
    background-clip: content-box; 
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img{
    width: 40px;
    height: 40px;
}
.infoAccount{
   display: flex; 
}
.account{
    display: flex;
    margin: 15px;
    flex-direction: column;
    
}
.allAccount{
    display: flex;
    justify-content: space-between;
}
.title{
    color: white;
    font-family: 'Century Gothic';
    font-size: 20px;
    margin: 5px;
    display: inline-block;   
}
.content{
    display: inline-block;
    color: white;
    font-family: 'Century Gothic';
    font-size: 15px;
    margin: 5px;
}