@import url(./variables.css);
.container{
    width: 90vw;
    height: 70vh;
    background-color: white;
    margin-top:  5vh;
    margin-bottom:  5vh;
    margin-left:  5vw;
    margin-right:  5vw;
}
.textTitle{
    font-size: 2.5vw;
    font-family: 'Century Gothic';
    margin: 10px;
    padding-top: 10px;
    color: black;
}
.line{
    margin-right: 10px;
    margin-left: 10px;
    border: none; 
    border-top: 1.5px solid rgb(var(--color-verde-fondo));
}
.content{
    margin-top: 8vh;
    margin-bottom: 2vh;
    margin-left: 4vw;
    margin-right: 2vw;
}
.containerInputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 55vh;
    margin-top: -50px;
}
.inputArea{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label{
    font-family: 'Century Gothic';
	color: rgb(var(--color-verde-boton));
	font-size: 1.5vw;
    display: inline-block;
    width: 18vw;
    
}
.input, select{
    border-radius: 11px;
    border-color: rgb(var(--color-verde-boton));
    width: 16vw;
    height: 2.6vh;
    display: inline-block;
    font-family: 'Century Gothic';
}

.inputRed{
    border-radius: 11px;
    border-color: red;
    width: 16vw;
    height: 2.6vh;
    display: inline-block;
    font-family: 'Century Gothic';
}
.select{
    height: 4vh;
    width: 16.5vw;
}
.disabled{
    pointer-events: none;
}
.submit{

    margin: 0 2vw 3vw 2vw;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}