@import url(./variables.css);
.button{
    background: white;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-color: var(--color-verde-boton);
    cursor: pointer;

}
.img{
    border-radius: 40%/50% ;
    padding: 3px 6px;
    background-color: var(--color-verde-boton);
    margin: 2px 8px 2px -3px;
}
.text{
    font-family: 'Century Gothic';
    color: var(--color-verde-boton);
    font-size: 18px;
}
.button:hover{
    background-color: var(--color-verde-boton);
    border-color: white;
}
.button:hover .img{
    background-color: white;
}
.button:hover .text{
    color: white;
}
.button:active{
    background-color: var(--color-verde-boton);
}