.carrousel {
	display: flex;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 2vw;
	justify-content: center;
	align-items: center;
}
.arrowL{
	position: fixed;
	left: 2.5vw;

}
.arrowR{
	position: fixed;
	right: 2.5vw;
}
