@import url('./variables.css');
.header {
	background: rgba(var(--color-verde-fondo), 0.5);
	padding-top: 10px;
}
.logo {
	width: 10vw;
}
nav {
	display: flex;
	align-items: center;
}
nav ul {

	display: flex;
	justify-content: space-evenly;
}
.option{
	margin: 5px;
}