@import url('./variables.css');
.containerMenu{
    position: absolute;
    top: 40%;
    right: -10%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 25%;
    height: 55%;
    border: 2px solid rgb(var(--color-verde-boton));
    border-radius: 15%/15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.menuAdmin{
    position: absolute;
    top: 29%;
    right: -10%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 25%;
    height: 30%;
    border: 2px solid rgb(var(--color-verde-boton));
    border-radius: 10%/15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.options{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 35px;
}
.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid #0B350B;
    padding-bottom: 10px;
    padding-top: 10px;
}
.img{
    width: 40px;
    padding-right: 10px;
}
.text{
    color: rgb(var(--color-verde-boton));
    font-family: 'Century Gothic';
    font-size: 15px;
}