.searchBar {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-right: 50px;
	margin-left: 15px;
	width: fit-content;
}

.input {
	width: 32vw;
	height: 7vh;
	border-radius: 30px 0px 0px 30px;
	border-color: var(--color-verde-boton);
	font-family: 'Century Gothic';
	font-size: 1.5em;
}
.input:focus {
	border-color: var(--color-verde-boton);
}
